.categories {
  display: flex;
  justify-content: space-between;
  gap: 1.875rem;
  margin-bottom: 1.5rem;
  margin-top: 4.5rem;
}

@media only screen and (max-width: 768px) {
  .categories {
    flex-direction: column;
    gap: 10rem;
    margin-bottom: 1rem;
    margin-top: 5rem;
  }
}
