.hero {
  height: 91vh;
  background-color: #191919;
  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__overline {
    opacity: 0.5;
    margin-bottom: 1rem;
  }
  &__p {
    width: 50%;
    opacity: 0.75;
    margin-bottom: 1.75rem;
  }
  &__h1 {
    width: 50%;
    font-size: 3.5rem;
    line-height: 3.625rem;
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    text-align: center;
    * {
      margin-left: auto;
      margin-right: auto;
    }
    &__content {
      align-items: center;
    }
    &__p,
    &__h1 {
      width: 70%;
    }
    &__h1 {
      font-size: 2.6em;
    }
  }
}

@media screen and (max-width: 375px) {
  .hero {
    &__h1 {
      font-size: 2em;
    }
  }
}
