.about {
  padding: 7.5rem 0;
  display: flex;
  gap: 2em;
  align-items: center;
  justify-content: space-between;
  &__textBlock {
    width: 50%;
    text-align: left;
  }
  &__h2 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    line-height: 2.75rem;
    letter-spacing: 0.08937rem;
  }
  &__p {
    font-weight: 200;
  }
  &__img {
    width: 100%;
    border-radius: 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  .about {
    padding: 0.5rem 0;
    flex-direction: column;
    &__textBlock {
      width: 100%;
      text-align: center;
      order: 1;
    }
  }
}
