.featured {
  &__textBlock {
    width: 40%;
    margin: auto;
    &_medium,
    &_small {
      margin: 5rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }
  &__h2 {
    font-size: 3.5rem;
    line-height: 3.625rem;
    margin-bottom: 1.5rem;
  }
  &__p {
    opacity: 0.75;
    margin-bottom: 1.75rem;
  }
  &__item {
    margin: 1em 0;
    border-radius: 0.5rem;
    overflow: hidden;
    &_big {
      display: flex;
      padding: 5em;
      background-size: 90%;
      background-position: -180% -3rem;
      justify-content: space-between;
      align-items: flex-start;
      background-color: #d97e4a;
      background-repeat: no-repeat;
      & img {
        position: relative;
        width: 70%;
        bottom: -8.5rem;
      }
    }
    &_medium {
      width: 100%;
      background-repeat: no-repeat;
      background-size: 100%;
    }
    &_small {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: #f2f2f2;
      overflow: hidden;
      & img {
        width: 100%;
        object-fit: cover;
      }
    }
    &_double {
      height: 20rem;
      position: relative;
      border-radius: 0.5rem;
      width: 100%;
      display: flex;
      gap: 1.5rem;
      align-items: center;
    }
  }
}

@media screen and (max-width: 768px) {
  .featured {
    &__textBlock {
      width: 100%;
    }
    &__item {
      &_big {
        padding: 3em;
        flex-direction: column;
        text-align: center;
        background-position: 50% 0rem;
        & * {
          margin-left: auto;
          margin-right: auto;
        }
        & img {
          top: -1em;
        }
      }
      &_double {
        height: auto;
        gap: 1em;
        margin: 0.5em 0;
        flex-direction: column !important;
      }
      &_small {
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .featured {
    &__h2 {
      font-size: 2rem;
      line-height: 2rem;
    }
    &__textBlock {
      &_small,
      &_medium {
        width: 100%;
        margin: 3em 0;
        align-items: center;
      }
    }
  }
}
