.header {
  background-color: #191919;
  &__navList {
    width: 60%;
    background-color: #191919;
  }
  &__hamburger {
    display: none;
    cursor: pointer;
    background-color: inherit;
    border: none;
  }
}

.nav {
  position: relative;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &::after {
    content: '';
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #979797;
    position: absolute;
  }
}

@media screen and (max-width: 768px) {
  .header {
    position: relative;
    &__hamburger {
      display: inline-block;
    }
    &__navList {
      bottom: 0;
      left: 0;
      width: 100%;
      flex-direction: column;
      justify-content: flex-start !important;
      position: absolute;
      background-color: #191919;
      transform: translateY(100%);
      & li {
        padding: 1em 0;
      }
      &_hide {
        display: none !important;
      }
    }
  }
}
