.products {
  &__header {
    background-color: #191919;
    text-align: center;
    color: white;
    padding: 5rem;
  }
  &__list {
    padding: 5em 0;
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
}

.product {
  display: flex;
  justify-content: center;
  gap: 1rem;
  &__img {
    order: 0;
    border-radius: 0.5rem;
    width: 100%;
  }
  &__text {
    order: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    & * {
      margin-left: 6rem;
      margin-bottom: 1.5rem;
    }
  }
  &:nth-child(even) {
    .product__text {
      order: -1;
      & * {
        margin-left: 0;
        margin-right: 6rem;
        margin-bottom: 1.5rem;
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  .product {
    &:nth-child(even) {
      .product__text {
        order: 1;
        & * {
          margin-left: 6rem;
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .product {
    flex-direction: column;
    &__img {
      width: 100%;
      height: 50%;
    }
    &__text {
      text-align: center;
      * {
        margin: 1.5rem auto;
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  .products {
    &__header {
      padding: 2rem;
    }
    &__list {
      padding: 2em 0;
      gap: 2rem;
    }
  }
  .product {
    &__text {
      * {
        margin: 0.5rem auto;
      }
    }
  }
}
