*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

li {
  list-style: none;
}

body {
  font-family: 'Manrope', sans-serif;
  position: relative;
  overflow-x: hidden;
  background-color: #fafafa;
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
}

body.nav-is-open::before {
  content: '';
  background-color: black;
  opacity: 0.4;
  pointer-events: none;
  position: absolute;
  inset: 0;
  z-index: 10;
}

.container {
  width: 90vw;
  max-width: 1110px;
  margin: 0 auto;
}

p {
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  font-weight: 500;
}

p.overline {
  font-size: 0.875rem;
  line-height: 1.1875rem;
  letter-spacing: 0.625rem;
  font-weight: 400;
  text-transform: uppercase;
}

p.sub-title {
  font-size: 0.8125rem;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-size: 3.5rem;
  line-height: 3.625rem;
  letter-spacing: 0.125rem;
}

h2 {
  font-size: 2.5rem;
  line-height: 2.75rem;
  letter-spacing: 0.09375rem;
}

h3 {
  font-size: 2rem;
  line-height: 2.25rem;
  letter-spacing: 0.07187rem;
}

h4 {
  font-size: 1.75rem;
  line-height: 2.375rem;
  letter-spacing: 0.125rem;
}

h5 {
  font-size: 1.5rem;
  line-height: 2.0625rem;
  letter-spacing: 0.10625rem;
}

h6 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: 0.08125rem;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

.navList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  list-style: none;
  &__link {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.8125rem;
    line-height: 1.5625rem;
    letter-spacing: 0.125rem;
    font-weight: 700;
    transition: color 0.3s ease-in-out;
    &:hover {
      color: #d97e4a;
    }
    &_current-page {
      color: #d97e4a;
      opacity: 0.6;
      pointer-events: none;
      cursor: default;
      text-decoration: none;
    }
  }
}

.text_white {
  color: white;
}

.text_peach {
  color: #d97e4a;
}

.btn {
  width: 10rem;
  height: 3rem;
  display: flex;
  place-items: center;
  place-content: center;
  font-size: 0.8125rem;
  letter-spacing: 0.0625rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  &_transparent {
    background-color: transparent;
    color: black;
    border: 1px solid black;
    &:hover {
      background-color: black;
      color: white;
    }
  }
  &_peach {
    background-color: #d97e4a;
    color: white;
    &:hover {
      background-color: #fbad83;
    }
  }
  &_black {
    background-color: black;
    color: white;
    &:hover {
      background-color: #4c4c4c;
    }
  }
  &_shop {
    display: flex;
    align-items: center;
    gap: 0.875rem;
    height: max-content;
    transition: gap 0.2s ease-in-out;
    &:hover {
      color: #d97e4a;
    }
  }
}
